@charset "UTF-8";

/*Mobile*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 204, 204);
}

header {
    background-color: rgb(141, 141, 141);
}

h1 {
    padding: 10px;
    text-align: center;
}

#burger{
    background-color: rgb(32, 32, 32);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

#burger:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

nav{
    display: none;
}

a {
    background-color: rgb(70, 70, 70);
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
    border-top: 2px solid gray;
}

a:hover{
    background-color: gray;
}

main {
    width: 90vw;
    margin: 15px auto;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

h2{
    padding-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
